.main {
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: #5dd4c8;
    border-radius: 100%;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.685);
  }